@using TRM.Web.Constants
@model Hephaestus.CMS.ViewModels.IPageViewModel<TRM.Web.Models.Pages.CheckoutPage, Hephaestus.CMS.ViewModels.ILayoutModel, TRM.Web.Models.ViewModels.Checkout.CheckoutStep5ViewModel>
<div class="row">
    <div class="col-xs-12">
        <div class="order-summary">
            <div class="summary-header">
                <div class="title">
                    <h5 class="h5 mt-0 mb-0">@Html.TranslateFallback(StringResources.BasketSummary, StringConstants.TranslationFallback.BasketSummary)</h5>
                </div>
            </div>
            <div class="summary-details collapse in" id="orderSummaryDetails">

                @if (Model.ViewModel.PurchaseOrder != null && Model.ViewModel.PurchaseOrder.Shipments.Any())
                {
                    foreach (var shipment in Model.ViewModel.PurchaseOrder.Shipments)
                    {
                        foreach (var item in shipment.CartItems)
                        {
                            <div class="row table-row">
                                <div class="col-xs-12 col-md-7">
                                    <p class="h6 mt-0 strong mb-0">@item.DisplayName</p>
                                </div>
                                <div class="col-xs-6 col-md-1 pl-0 pl-sm-1x pl-xs-1x pr-0 text-center-md-up">
                                    <span class="visible-xs-inline visible-sm-inline strong mr-1x">@Html.TranslateFallback(StringResources.MixCheckoutQty, "Qty"): </span>x@((int)item.Quantity)
                                </div>
                                <div class="col-xs-6 col-md-4 pl-0 text-right">
                                    @{
                                        var price = !string.IsNullOrEmpty(item.DiscountedPrice) ? item.DiscountedPrice : item.PlacedPrice;
                                    }
                                    <p class="mb-0">@price</p>
                                </div>
                                @if (item.HasbeenPersonalised)
                                {
                                    <div class="col-sm-12 pt-1x pb-1x">
                                        <span class="bg-white p-1xs mt-1x">
                                            @Html.TranslateFallback(StringResources.HasBeenPersonalised, StringConstants.TranslationFallback.HasBeenPersonalised)
                                        </span>
                                    </div>
                                }

                                <div class="col-sm-12">
                                    <p class="small mb-0 text-success">@item.StockSummary.StatusMessage</p>
                                    <p class="mb-0 strong">@(string.IsNullOrEmpty(item.SupplierMessage) ? item.FulfilledBy : item.SupplierMessage)</p>
                                    <p class="small">@item.StockSummary.ShippingMessage</p>
                                </div>
                                @if (item.RecurrenceType == TRM.Shared.Constants.Enums.eRecurrenceType.Optional)
                                {
                                    <div class="col-xs-12">
                                        <label>@item.RecurringConfirmationMessage</label>
                                    </div>
                                }

                                @if (item.RecurrenceType == TRM.Shared.Constants.Enums.eRecurrenceType.Mandatory)
                                {
                                    <div class="col-xs-12">
                                        <label class="icon-label"><i class="trmi trmi-check"></i><label>@item.RecurringConfirmationMessage</label></label>
                                    </div>
                                }
                                <div class="col-xs-12">
                                    <hr class="mb-0">
                                </div>
                            </div>
                        }
                    }

                }
                @if (Model.ViewModel.PurchaseOrder.Promotions.Any())
                {
                    <div class="row background-lightergray">
                        <div class="col-xs-12">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">@Html.TranslateFallback(StringResources.PromotionsApplied, StringConstants.TranslationFallback.PromotionsApplied)</h4>
                                </div>
                                <div class="panel-body">
                                    @foreach (var promo in Model.ViewModel.PurchaseOrder.Promotions)
                                    {
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <p>
                                                    <i class="trmi trmi-check text-success"></i> @Html.Raw(string.IsNullOrEmpty(promo.Code) ? promo.Description : promo.Code)
                                                </p>
                                            </div>

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="row table-footer">
                    <div class="col-xs-8 text-right">
                        <strong>@Html.TranslateFallback(StringResources.BasketSubTotal, StringConstants.TranslationFallback.BasketSubTotal)</strong>
                    </div>
                    <div class="col-xs-4 text-right">
                        <p class="mb-0">@Model.ViewModel.PurchaseOrder.SubTotal</p>
                    </div>
                    <div class="col-xs-8 text-right">
                        <strong>@Html.TranslateFallback(StringResources.BasketDelivery, StringConstants.TranslationFallback.BasketDelivery)</strong>
                    </div>
                    <div class="col-xs-4 text-right">
                        @Model.ViewModel.PurchaseOrder.TotalDeliveryWithoutDiscount
                    </div>
                    @if (Model.ViewModel.PurchaseOrder.TotalDiscount != "£0.00")
                    {
                        <div class="col-xs-8 text-right">
                            <strong>@Html.TranslateFallback(StringResources.BasketSavings, StringConstants.TranslationFallback.BasketSavings)</strong>
                        </div>
                        <div class="col-xs-4 text-right">
                            @Model.ViewModel.PurchaseOrder.TotalDiscount
                        </div>
                    }

                    <div class="col-xs-8 text-right">
                        <strong>@Html.TranslateFallback(StringResources.BasketTotal, StringConstants.TranslationFallback.BasketTotal)</strong>
                    </div>
                    <div class="col-xs-4 text-right">
                        <p class="mb-0 strong">
                            @Model.ViewModel.PurchaseOrder.Total
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

