@using EPiServer.Core
@using TRM.Web.Constants
@model TRM.Web.Models.Interfaces.IControlPromotionCodeContentArea

<h4 class="bb-solid-g mt-0 pb-1x">@Html.TranslateFallback(StringResources.PromotionsTitle, StringConstants.TranslationFallback.PromotionsTitle)</h4>
<p>@Html.TranslateFallback(StringResources.PromotionsDescription, StringConstants.TranslationFallback.PromotionsDescription)</p>
<div class="input-group" ng-cloak>
    <input type="text" class="form-control coupon-code" ng-model="rmCommerce.couponCode" maxlength="20">
    <span class="input-group-btn">
        <button class="btn btn-default" placeholder="@Html.TranslateFallback(StringResources.PromotionPlaceholder, StringConstants.TranslationFallback.PromotionPlaceholder)" ng-click="addCoupon()" ng-disabled="rmCommerce.couponCode == ''" type="button">@Html.TranslateFallback(StringResources.PromotionsButton, StringConstants.TranslationFallback.PromotionsButton)</button>
    </span>
</div><!-- /input-group -->

@if (Model.PromotionCodeContentArea != null)
{
    <div class="row">
        @Html.PropertyFor(m => Model.PromotionCodeContentArea)
    </div>
}

<div class="panel panel-info" ng-if="rmCommerce.promotions.length > 0">
    <div class="panel-heading">
        <h4 class="panel-title">@Html.TranslateFallback(StringResources.PromotionsApplied, StringConstants.TranslationFallback.PromotionsApplied)</h4>
    </div>
    <div class="panel-body">
        <div class="row" ng-repeat="promo in rmCommerce.promotions">
            <div ng-class="!!promo.Code ? 'col-xs-6' : 'col-xs-12'">
                <p>
                    <i class="trmi trmi-check text-success"></i> {{promo.Code || promo.Description}}
                </p>
            </div>
            <div class="col-xs-6 text-right">
                <a href="" title="@Html.TranslateFallback(StringResources.PromotionsRemove, StringConstants.TranslationFallback.PromotionsRemove)" ng-if="!!promo.Code" ng-click="removeCoupon(promo.Code)" class="small">
                    @Html.TranslateFallback(StringResources.PromotionsRemove, StringConstants.TranslationFallback.PromotionsRemove)
                </a>
            </div>
        </div>
    </div>
</div>