@model TRM.Web.Models.Blocks.MyAccountChangePasswordBlock
<div class="panel panel-default panel-secondary">
    <div class="panel-body">
        <!-- WYSIWYG -->
        <div class="wysiwyg mb-0">
            @Html.PropertyFor(a => a.IntroductionText)
        </div>
        <!--/ WYSIWYG Ends-->

        <div class="row" ng-controller="rmPasswordChange">
            <div class="col-xs-12 col-sm-8 mt-2x">
                <form name="changePasswordForm" 
                      id="changePasswordForm" 
                      novalidate=""
                      role="form"
                      ng-submit="updateUserPassword(changePasswordForm.$valid)">


                    @Html.AntiForgeryToken()

                    <div class="form-group" ng-class="{'has-error': changePasswordForm.originalPassword.$error.required && changePasswordForm.$submitted}">
                        <label class="control-label">
                            @Html.TranslateFallback(TRM.Web.Constants.StringResources.EnterOriginalPassword, "Please enter your current password")
                        </label>

                        <input type="password"
                               class="form-control"
                               ng-model="originalPassword"
                               name="originalPassword"
                               ng-required="true"/>
                    </div>
                   
                    <div class="form-group" ng-class="{'has-error': changePasswordForm.password.$error.required && changePasswordForm.$submitted}">                      
                        <label class="control-label">
                            @Html.TranslateFallback(TRM.Web.Constants.StringResources.EnterNewPassword, "Please enter your new password")
                        </label>

                        <input type="password"
                               class="form-control ok-password"
                               ng-class="(changePasswordForm.password.$dirty && changePasswordForm.password.$invalid) ? 'error' : ''" 
                               name="password"
                               placeholder="" 
                               ng-required="true" 
                               ng-model="password"
                               id="registerUsrPW1-main">
                        <div class="label password-count" 
                             ng-class="password.length > 8 ? 'label-success' : 'label-danger'" 
                             ng-show="password.length > 0" 
                             ng-cloak>{{pwStrengthLabel}} ({{ password | passwordCount:8 }})
                        </div>
                        
                        <div class="strength-meter"
                             ng-show="password.length > 0"
                             ng-cloak>
                            
                            <div class="strength-meter-fill"
                                 data-strength="{{passwordStrength}}">
                            </div>
                        </div>
                    </div>


                    <div class="form-group"  ng-class="{'has-error': changePasswordForm.confirmPassword.$invalid && changePasswordForm.$submitted}">
                        <label class="control-label">
                            @Html.TranslateFallback(TRM.Web.Constants.StringResources.PleaseConfirmNewPassword, "Please confirm your new password")
                        </label>
                        <input type="password" 
                               class="form-control"
                               name="confirmPassword"
                               ng-required="true" 
                               ng-model="confirmPassword"
                               compare-to="password" />
                    </div>


                    <div class="form-group">
                        <button class="btn btn-secondary"
                                type="submit">
                            @Html.TranslateFallback(TRM.Web.Constants.StringResources.SaveChangePasswordChanges, "Save")
                        </button>
                    </div>

                    <!-- success message-->
                    <div class="form-group" ng-show="hasSuccess">
                        <p>
                            @Html.TranslateFallback(TRM.Web.Constants.StringResources.YourPasswordHasBeenChanged, "Your password has been changed")
                        </p>
                    </div>
                    <!-- success message END-->
                    <!-- fail message-->
                    <div class="form-group" ng-show="hasFailure">
                        <p>
                            @Html.TranslateFallback(TRM.Web.Constants.StringResources.CouldntUpdatePassword, "Your password couldn't be changed. Please check your original password and the requirements for new password")
                        </p>
                    </div>
                    <!-- fail message END-->
                </form>
            </div>
        </div>
    </div>
</div>