@using TRM.Shared.Extensions
@model TRM.Web.Models.ViewModels.DigitalInvestmentBlockViewModel

<div class="digi-investments">
    <div class="row justify-content-center">
        <div class="col-12">
            @if (!String.IsNullOrEmpty(Model.CurrentBlock.Title)) { 
              <h2 class="section-head section-head--xl"><span>@Model.CurrentBlock.Title</span></h2>
            }
                
            <div class="row justify-content-center">

                @foreach (var product in Model.Products)
                {
                    string activeText = product.Active ? "active-text--active" : "active-text--inactive";

                    var productStatusText = product.Active ?
                        Html.TranslateFallback(TRM.Web.Constants.StringResources.Active, "Active")
                        : Html.TranslateFallback(TRM.Web.Constants.StringResources.Inactive, "Inactive");

                    <div class="col-12 col-md-6 col-xl-3 pb-2">
                        <div class="product product--flex">
                            <div class="heading d-flex flex-column align-items-center mb-1">
                                <div class="mb-1"> <span class="icon"><img src="@product.ImageUrl" /></span></div>
                                <div class="heading__name w-100 text-center"> <span>@product.Name</span></div>
                                <div class="font-dark "> <span class="">@product.CurrentInvestment</span></div>
                            </div>
                            <div class="details">
                                <div class="details__item">
                                    <div class="d-flex align-items-center mr-1">
                                        <span class="icon icon-small mr-1"><svg><use xlink:href="#calendar" /></svg></span>
                                        <span>@Html.TranslateFallback(TRM.Web.Constants.StringResources.DigitalInvestmentBlockAutoMonthlyInvestment, "Monthly investment")</span>
                                    </div>
                                    <div>
                                        <span class="font-dark">@product.MonthlyInvestment</span>
                                    </div>

                                </div>
                                <div class="details__item">
                                    <div class="d-flex align-items-center mr-1">
                                        <span class="icon icon-small mr-1"><svg><use xlink:href="@(product.Active ?  "#tick" : "#paused")" /></svg></span>
                                        <span>@Html.TranslateFallback(TRM.Web.Constants.StringResources.DigitalInvestmentBlockAutoInvestStatus, "Auto-invest status")</span>
                                    </div>
                                    <div><span class="active-text @activeText">@productStatusText</span></div>

                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (Model.CurrentBlock.ManageInvestmentsUrl != null)
            {
                <div class="row justify-content-center mt-2 btns">
                    <div class="col-md-6 col-lg-2-4">
                        <a href="@Url.ContentUrlExtension(Model.CurrentBlock.ManageInvestmentsUrl)" class="btn btn-primary mr-0 ml-0" style="font-size: 14px">
                            @Model.CurrentBlock.ManageInvestmentsLabel
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

