@using TRM.Web.Constants
@using System.Web.Mvc.Html
@model TRM.Web.Models.ViewModels.MyAccountCreditPaymentViewModel

@if (!Request.IsAuthenticated || !Model.CustomerHasCreditAccount || (Model.Message != null && Model.Message.MessageType == Enums.eMessageType.Success && !string.IsNullOrEmpty(Model.Message.Title)))
{
    <main>
        <div class="mod-section">
            <div class="row justify-content-center text-center">
                <div class="col-md-10 col-lg-8">
                    <div class="form-container">
                        <div class="row justify-content-center">
                            <div class="col-10 col-md-6">
                                <div class="form-spacing">
                                    @if (!Request.IsAuthenticated)
                                    {
                                        @Html.PropertyFor(m => m.ThisBlock.NoCreditAccountMessage)
                                    }
                                    else if (!Model.CustomerHasCreditAccount)
                                    {
                                        @Html.PropertyFor(m => m.ThisBlock.NoCreditAccountMessage)
                                    }
                                    else
                                    {
                                        <h2 class="mt-0">@Html.TranslateFallback(StringResources.BullionAddFundsPaymentSucessfulTitle, "Payment Sucessful")</h2>
                                        <hr>
                                        @Html.PropertyFor(x => x.ThisBlock.PaymentSuccessfullMessage)
                                        <div class="row">
                                            <div class="col">
                                                <strong>@Html.TranslateFallback(StringResources.BullionAddFundsReferenceNumber, "Reference Number")</strong>
                                            </div>
                                            <div class="col">
                                                <p class="mb-1">@Model.Message.Title</p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
}
else
{
    <div>
        <div class="row justify-content-center text-center">
            <div class="col-md-10 col-lg-10">
                <div class="form-container">
                    <div class="form-spacing">
                        @{ Html.RenderPartial("AddPaymentMastercard", Model); }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@Html.Partial("_RedirectOutsideTheIframe")