@using Newtonsoft.Json
@using TRM.Web.Constants

@model TRM.Web.Models.Blocks.MyAccountChangePasswordBlock

@{
    var viewModel = new
    {
        introduction = @Html.DisplayFor(a => a.IntroductionText).ToHtmlString(),
        passwordLabel = @Html.TranslateFallback(StringResources.EnterOriginalPassword, "Please enter your current password"),
        newPasswordLabel = @Html.TranslateFallback(StringResources.EnterNewPassword, "Please enter your new password"),
        confirmPasswordLabel = @Html.TranslateFallback(StringResources.PleaseConfirmNewPassword, "Please confirm your new password"),
        submitButton = @Html.TranslateFallback(StringResources.SaveChangePasswordChanges, "Save"),
        changeSuccessMessage = @Html.TranslateFallback(StringResources.YourPasswordHasBeenChanged, "Your password has been changed"),
        changeFailMessage = @Html.TranslateFallback(StringResources.CouldntUpdatePassword, "Your password couldn't be changed. Please check your original password and the requirements for new password"),
        passwordInvalid =  Html.TranslateFallback(StringResources.PasswordInvalid, StringConstants.TranslationFallback.PasswordInvalid),
    };
}

@Html.AntiForgeryToken()

<div data-module="change-password" data-content="@JsonConvert.SerializeObject(viewModel)"></div>
