@using TRM.Shared.Extensions
@model TRM.Web.Models.Blocks.HeaderMessage

@if (Model != null)
{
    <div class="row justify-content-center">
        <div class="mod-header-message col-12 @Model.Background.GetDescriptionAttribute()">
            <div>@Model.Message</div>
            @if (Model.ButtonLink != null && !string.IsNullOrEmpty(Model.ButtonText))
            {
                <a href="@Url.ContentUrlExtension(Model.ButtonLink)" class="btn @Model.ButtonClass.GetDescriptionAttribute()">@Model.ButtonText</a>
            }
            @if (Model.CatalogButtonLink != null && !string.IsNullOrEmpty(Model.CatalogButtonText))
            {
                <a href="@Url.ContentUrlExtension(Model.CatalogButtonLink)" class="btn @Model.ButtonClass.GetDescriptionAttribute()">@Model.CatalogButtonText</a>
            }
        </div>
    </div>
}