@using TRM.Web.Constants

@model KeyValuePair<int, TRM.Web.Models.ViewModels.Bullion.TransactionHistoryItemViewModel>

<div class="col-lg-3">
    <span class="title">@Html.TranslateFallback(StringResources.TransactionHistorySubmittedBy, StringConstants.TranslationFallback.TransactionHistorySubmittedBy)</span>
    @Model.Value.SubmittedBy
</div>

<div class="col-lg-3">
    <span class="title">@Html.TranslateFallback(StringResources.TransactionHistoryOrderNumber, StringConstants.TranslationFallback.TransactionHistoryOrderNumber)</span>
    @Model.Value.TransactionRecord.OrderNumber
</div>

<div class="col-lg-6">
    <span class="title">@Html.TranslateFallback(StringResources.TransactionHistoryOrderSummary, StringConstants.TranslationFallback.TransactionHistoryOrderSummary)</span>

    @foreach (var prod in Model.Value.OrderDetailViewModel.OrderLineViewModels)
    {
        <ul class="summary">
            <li>@Html.TranslateFallback(StringResources.TransactionHistoryOrderProduct, StringConstants.TranslationFallback.TransactionHistoryOrderProduct): @prod.Name </li>
            @if (!prod.IsSignatureVariant)
            {
                <li>@Html.TranslateFallback(StringResources.TransactionHistoryQuantity, StringConstants.TranslationFallback.TransactionHistoryQuantity): @prod.Quantity </li>
            }
            <li>@Html.TranslateFallback(StringResources.TransactionHistoryOrderWeight, StringConstants.TranslationFallback.TransactionHistoryOrderWeight): @prod.QuantityInOz<text>oz @@ </text>@prod.MetalPrice.ToString()</li>
            <li>@Html.TranslateFallback(StringResources.TransactionHistoryOrderProductPrice, StringConstants.TranslationFallback.TransactionHistoryOrderProductPrice): @prod.ProductPrice.ToString()</li>
            <li>@Html.TranslateFallback(StringResources.TransactionHistoryOrderStatus, StringConstants.TranslationFallback.TransactionHistoryOrderStatus): @prod.Status</li>
        </ul>
    }
</div>
