@model Hephaestus.CMS.ViewModels.IPageViewModel<TRM.Web.Models.Pages.Bullion.DeliverBullionLandingPage, Hephaestus.CMS.ViewModels.ILayoutModel, TRM.Web.Models.ViewModels.Bullion.DeliverBullionLandingViewModel>

<div class="pageContainer">
    @if (Model.CurrentPage.ThreeContentAreas.TopContent != null)
    {
        <div class="row">
            @Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.TopContent)
        </div>
    }
    <div class="container mb-4x mt-2x">
        @if (Model.CurrentPage.DisplayPageHeading)
        {
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2 mb-1x">
                    <div class="page-header">
                        <h1 class="h1">@Html.PropertyFor(m => m.CurrentPage.Heading)</h1>
                    </div>
                </div>
            </div>
        }
        @if (Model.CurrentPage.ThreeContentAreas.MiddleContent != null)
        {
            <div class="row">
                @Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.MiddleContent)
            </div>
        }
        <div class="row">
            @Html.Partial("_BullionCheckoutAddFunds", Model.ViewModel.AddFundsViewModel, new ViewDataDictionary { { "IsQuickcheckout", true } })
        </div>
    </div>
    @if (Model.CurrentPage.ThreeContentAreas.BottomContent != null)
    {
        <div class="row">
            @Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.BottomContent)
        </div>
    }
</div>