@using TRM.Web.Constants
@model Hephaestus.CMS.ViewModels.IPageViewModel<TRM.Web.Models.Pages.Bullion.DeliverBullionLandingPage, Hephaestus.CMS.ViewModels.ILayoutModel, TRM.Web.Models.ViewModels.Bullion.DeliverBullionLandingViewModel>

<div class="pageContainer">
    @if (Model.CurrentPage.ThreeContentAreas.TopContent != null)
    {
        <div class="row">
            @Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.TopContent)
        </div>
    }
    <div class="container mb-4x mt-2x">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2 mb-1x">
                <div class="page-header">
                    <h1 class="h1 text-success">
                        <i class="trmi trmi-check text-success mr-1x"></i>
                        @Html.TranslateFallback(StringResources.DeliveryConfirmation, "Delivery Confirmation")
                    </h1>
                </div>
                <div class="alert alert-success">
                    <span>@Html.TranslateFallback(StringResources.DeliveryConfirmationDescription, "The below investment have successfully been requested for delivery. Your investment wallet will be reduced immediately and your items will be removed from the vault when delivery has been organised. An email confirmation will follow shortly.")</span>
                </div>
                <h3 class="mt-0">@Html.TranslateFallback(StringResources.DeliverySummary, "Delivery Summary")</h3>
                <h3 class="mb-2x h6">#@Model.ViewModel.DeliverTransactionNumber</h3>
                @if (Model.CurrentPage.ThreeContentAreas.MiddleContent != null)
                {
                    <div class="row">
                        @Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.MiddleContent)
                    </div>
                }

                <h3 class="h6 text-midblue mt-0">@Html.TranslateFallback(StringResources.DeliveryOfTheBelowItemsFromTheRoyalMintVault, "Delivery of the below items from The Royal Mint Vault")</h3>
                <div class="checkout-item-block">
                    <div class="checkout-item-wrapper">
                        <div class="item-image hidden-xs">
                            <img src="@Model.ViewModel.DeliverVariant.ImageUrl">
                        </div>
                        <div class="item-info">
                            <h6 class="h6 mt-0 mb-0">@Model.ViewModel.DeliverVariant.Title</h6>
                            <p class="text-graylight">@Model.ViewModel.DeliverVariant.Subtitle</p>
                        </div>
                        <div class="item-price flex-align-left-sm-up primary-price">
                            <div class="price-info">
                                <p class="h6 mb-0 text-center">@Html.TranslateFallback(StringResources.QuantityToDeliver, "Quantity")</p>
                                <p class="h5 text-center mt-0 mb-0">
                                    @Model.ViewModel.DeliverVariant.QuantityToSellOrDeliver.ToString("####")
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.ViewModel.ShippingMethod != null)
                {
                    <h3 class="h6 text-midblue">@Model.ViewModel.ShippingMethod.FriendlyName @Html.TranslateFallback(StringResources.StandardDeliveryToRegisteredInvestmentAddress, "to registered investment address"):</h3>

                }
                <h3 class="mb-2x h6">@Model.ViewModel.DeliverAddress</h3>
                <h3 class="h6 text-midblue">@Html.TranslateFallback(StringResources.PaymentType, "Payment Type")</h3>
                <h3 class="mb-2x h6">@Html.TranslateFallback(StringResources.InvestmentWallet, "Investment Wallet")</h3>
                <div class="checkout-total">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3 col-sm-offset-6 text-right-sm-up">
                            <strong>@Html.TranslateFallback(StringResources.DeliverInvestmentVat, "Investment VAT")</strong>
                        </div>
                        <div class="col-xs-6 col-sm-3 text-right-sm-up">
                            @Model.ViewModel.InvestmentVat.ToString()
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-6 col-sm-3 col-sm-offset-6 text-right-sm-up">
                            <strong>@Html.TranslateFallback(StringResources.DeliveryFee, "Delivery")</strong>
                        </div>
                        <div class="col-xs-6 col-sm-3 text-right-sm-up">
                            @Model.ViewModel.DeliverCost.ToString()
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-6 col-sm-3 col-sm-offset-6 text-right-sm-up">
                            <strong>@Html.TranslateFallback(StringResources.DeliveryVat, "Delivery VAT")</strong>
                        </div>
                        <div class="col-xs-6 col-sm-3 text-right-sm-up">
                            @Model.ViewModel.DeliverVat.ToString()
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                    </div>
                    <div class="row center-items-sm-up">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-6">
                            <div class="row">
                                <div class="col-xs-6">
                                    <p class="h4 h3-lg-down strong mt-0 mb-0 text-right-sm-up">@Html.TranslateFallback(StringResources.DeliveryTotal, "Delivery Total")</p>
                                </div>
                                <div class="col-xs-6 text-right-sm-up">
                                    <p class="h4 h3-lg-down strong mt-0 mb-0">@Model.ViewModel.DeliveryTotal.ToString()</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-md-5 pull-right-sm-up">
                        <a href="@Model.ViewModel.BullionAccountDashboardUrl" class="btn btn-secondary btn-block mt-2x">Go to Account Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model.CurrentPage.ThreeContentAreas.BottomContent != null)
    {
        <div class="row">
            @Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.BottomContent)
        </div>
    }
</div>