@using TRM.Web.Constants
@using TRM.Web.Models.Layouts

@model Hephaestus.CMS.ViewModels.IPageViewModel<TRM.Web.Models.Pages.EcomPrototypePage, Hephaestus.CMS.ViewModels.ILayoutModel>
@{
	var myLayout = Model.Layout as TrmLayoutModel;
	if (myLayout == null)
	{
		throw new InvalidCastException(StringConstants.Layout.InvalidLayout);
	}
}
<div class="pageContainer">
	<div class="row">
		@Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.TopContent)
	</div>

	<div class="container clear hidden-xs">
		@Html.Partial("_Breadcrumb", myLayout.Breadcrumb)
	</div>

	@if (Model.CurrentPage.DisplayPageHeading)
	{
		<div class="page-header">
			@Html.PropertyFor(m => m.CurrentPage.Heading)
		</div>
	}
	@Html.PropertyFor(m => m.CurrentPage.MainBody)

	@*@Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.MiddleContent)
		@Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.BottomContent)
		@Html.PropertyFor(m => m.CurrentPage.EcomPrototypeContentArea)*@

	<div class="container adding-funds">

		<div class="col-xs-12 hidden-md hidden-lg">
			<div class="row">
				<div class="col-xs-12 mt-2x">
					<a class="btn btn-default btn-block sidenav-trigger mb-2x" data-target="#catFilters">Menu</a>
				</div>
			</div>
		</div>

		<aside class="mobile-sidenav col-md-3" id="catFilters">
			<a class="btn btn-default pull-right visible-sm visible-xs closeButton"><i class="trmi trmi-close"></i></a>
			<div class="row">
				<div class="account navigationBlock col-xs-12" id="account-menu">
					<div class="blockContent">
						<ul class="level0 contentNav">
							<li class="">
								<a href="#" title="My Account">My Account</a>
							</li>
							<li class=" has-children">
								<a class="btn-collapse" data-target="#your-orders1" data-toggle="collapse" title="Show/Hide More">Investments</a>
								<ul class="level1 collapse in" id="your-orders1">
									<li><a href="#" title="Change Password">Change Password</a></li>
									<li><a href="#" title="Manage Vaulted Holdings">Manage Vaulted Holdings</a></li>
									<li><a href="#" title="View Statement History">View Statement History</a></li>
									<li><a href="#" title="Manage Your Bank Account details">Manage Your Bank Account details</a></li>
									<li><a href="#" title="Withdraw Funds From Wallet">Withdraw Funds From Wallet</a></li>
									<li><a href="#" title="Add Funds to Wallet">Add Funds to Wallet</a></li>
								</ul>
							</li>
							<li class=" has-children">
								<a class="btn-collapse" data-target="#credit-account2" data-toggle="collapse" title="Show/Hide More">Credit Account</a>
								<ul class="level1 collapse in" id="credit-account2">
									<li><a href="/my-account/contact-and-delivery-details/change-password/" title="Change Password">Change Password</a></li>
									<li><a href="/my-account/contact-and-delivery-details/contact-preferences/" title="Contact Preferences">Contact Preferences</a></li>
									<li><a href="/my-account/contact-and-delivery-details/manage-addresses/" title="Manage Addresses">Manage Addresses</a></li>
									<li><a href="/my-account/contact-and-delivery-details/edit-personal-details/" title="Edit personal details">Edit personal details</a></li>
								</ul>
							</li>
						</ul>
					</div><!-- /.blockContent -->
				</div><!-- /. navigation block -->
			</div>
		</aside>

		<main class="col-xs-12 col-md-9 mb-2x">
			<div class="header-wrapper">
				<div class="page-header hidden-xs hidden-sm">
					<h1>Add Funds</h1>
				</div>
			</div>
			<div class="row">
				@Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.MiddleContent)
			</div>
			<div class="panel panel-default panel-secondary">

				<div class="panel-body">
					<h2 class="mt-0">Payment Sucessful</h2>
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit  In dignissim </p>
					<h5> Reference Number: </h5>
					IN-105950443

				</div>
			</div>
		</main>
	</div>
	<div class="row">
		@Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.BottomContent)
	</div>
</div>
