@using EPiServer.Web.Mvc.Html
@using Hephaestus.CMS.Extensions
@using TRM.Web.Constants
@using EPiServer.Web
@using TRM.Web.Models.Layouts
@using TRM.Shared.Extensions;

@model Hephaestus.CMS.ViewModels.IPageViewModel<TRM.Web.Models.Pages.Bullion.FailedKycDocumentCheckingPage, Hephaestus.CMS.ViewModels.ILayoutModel>

@{
    var myLayout = Model.Layout as TrmLayoutModel;
    if (myLayout == null)
    {
        throw new InvalidCastException(StringConstants.Layout.InvalidLayout);
    }
    var currentUrl = Model.CurrentPage.ContentLink.GetExternalUrl_V2();
}
<main id="content" class="container kyc-verification-page">
    <div class="mod-section">
        <div class="row justify-content-center">
            <div class="col-12">
                <div @Html.EditAttributes(m => m.CurrentPage.ThreeContentAreas)>
                    @Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.TopContent)
                </div>
            </div>
            <div class="col-md-10 col-lg-8">
                <div class="form-container">
                    @if (Model.CurrentPage.DisplayPageHeading)
                    {
                        <h1>@Html.PropertyFor(m => m.CurrentPage.Heading)</h1>

                    }
                    @if (Model.CurrentPage.ThreeContentAreas.MiddleContent != null)
                    {
                        @Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.MiddleContent)
                    }
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            @Html.PropertyFor(m => m.CurrentPage.IdLandingMiddleContentArea)
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <h1>@Html.PropertyFor(x => x.CurrentPage.IdLandingHeading)</h1>
                        <div class="col-10 col-md-6">
                            <div class="strong mb-2">
                                @Html.PropertyFor(x => x.CurrentPage.IdLandingDescription)
                            </div>
                            <h2 class="section-head"><span>@Html.PropertyFor(x => x.CurrentPage.SelectIdTypeText)</span></h2>
                        </div>
                        <div class="col-10">
                            <div class="form-spacing">
                                @if (Model.CurrentPage.KycIdentificationTypeList != null && Model.CurrentPage.KycIdentificationTypeList.Any())
                                {
                                    <div class="d-lg-flex justify-content-center display-block-sm-down">
                                        @foreach (var type in Model.CurrentPage.KycIdentificationTypeList)
                                        {
                                            var urlLink = string.Format("{0}{1}", currentUrl, type.IdType.ToString());
                                            <div class="col">
                                                <a href="@urlLink" class="ml-1 mr-1 align-items-center justify-content-center flex-column d-flex">
                                                    <span class="icon p-4 m-3"><svg><use xlink:href="#@type.IconClass" /></svg></span>
                                                    <span class="btn btn-default pl-1 pr-2">@type.DisplayName</span>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-10 form-spacing">
                            <div class="text-center">
                                @Html.PropertyFor(m => m.CurrentPage.IdLandingBottomContentArea)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div @Html.EditAttributes(m => m.CurrentPage.ThreeContentAreas)>
                    <div class="row">
                        @Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.BottomContent)
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>