@using Hephaestus.CMS.Extensions
@using TRM.Web.Constants
@using TRM.Shared.Extensions
@model TRM.Web.Models.Layouts.TrmLayoutModel

@{
    var basketPageUrl = Model.BasketPage.GetExternalUrl_V2();
    var checkoutPageUrl = Model.CheckoutPage.GetExternalUrl_V2();
}
<div class="nav-section basket-mini" id="navSectionBasket">
    <div class="section-body minibasket-fixed" id="miniBasket">
        <div class="row" ng-if="getBasketQty() >= 1" ng-cloak>
            <div class="col-md-9 col-md-offset-3">
                <h4>@Html.TranslateFallback(StringResources.BasketRecentlyAddedToYourBasket, StringConstants.TranslationFallback.BasketRecentlyAddedToYourBasket)</h4>
                <div class="basket-container">
                    <table class="table mini-basket-table">
                        <thead>
                            <tr>
                                <th width="70%" >@Html.TranslateFallback(StringResources.BasketItems, StringConstants.TranslationFallback.BasketItems)</th>
                                <th width="15%">@Html.TranslateFallback(StringResources.BasketQuantity, StringConstants.TranslationFallback.BasketQuantity)</th>
                                <th></th>
                                <th class="text-right" width="15%">@Html.TranslateFallback(StringResources.BasketPrice, StringConstants.TranslationFallback.BasketPrice)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="headerBasketItem" ng-fade>
                                <td>
                                    <p class="mb-0 mt-0">
                                        <a href="#" class="text-slateblue">Tom Kitten 2017 UK 50p Silver Proof Coin</a>
                                    </p>
                                    <p class="text-silver mb-0">Limited Edition 30,000</p>
                                </td>
                                <td>
                                    <div class="input-group qty-group mb-xs-1x">
                                        <span class="input-group-btn">
                                            <button class="btn qty-btn" type="button">
                                                <i class="trmi trmi-minus"></i>
                                            </button>
                                        </span>
                                        <input type="text" class="form-control text-center qty-input" placeholder="Qty" value="1">
                                        <span class="input-group-btn">
                                            <button class="btn qty-btn" type="button">
                                                <i class="trmi trmi-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-link pt-0 pb-0 basket-remove" ng-click="removeFromBasket(variant.ShipmentId, variant.Code);"><span class="product-removal mb-xs-1x hidden-xs"><span class="text-danger">Remove</span> </span></button>
                                </td>
                                <td class="text-right"><span>£60.00</span><p class="mini-basket-vat"></p></td>
                            </tr>

                            <tr class="headerBasketItem" ng-fade>
                                <td>
                                    <p class="mb-0 mt-0">
                                        <a href="#" class="text-slateblue">Hello Little One 2019 Baby Journal</a>
                                    </p>

                                    <div class="pt-5">
                                        <span class="bg-lightgray p-1xs mr-1x">
                                            @Html.TranslateFallback(StringResources.ItemPersonalised, StringConstants.TranslationFallback.ItemPersonalised)
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group qty-group mb-xs-1x">
                                        <span class="input-group-btn">
                                            <button class="btn qty-btn" type="button">
                                                <i class="trmi trmi-minus"></i>
                                            </button>
                                        </span>
                                        <input type="text" class="form-control text-center qty-input" placeholder="Qty" value="1">
                                        <span class="input-group-btn">
                                            <button class="btn qty-btn" type="button">
                                                <i class="trmi trmi-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-link pt-0 pb-0" ng-click="removeFromBasket(variant.ShipmentId, variant.Code);"><span class="product-removal mb-xs-1x hidden-xs"><span class="text-danger">Remove</span> </span></button>
                                </td>
                                <td class="text-right"><span>£33.00</span><p class="mini-basket-vat"></p></td>
                            </tr>

                            <tr class="no-border">
                                <td colspan="5">
                                    <h3 class="text-right mt-1x">All 5 Items Subtotal: &nbsp;&nbsp; &pound;93.00</h3>
                                </td>
                            </tr>
                        </tbody>


                    </table>
                </div>
                <div class="text-right">
                    <a class="btn btn-default mr-20" href="@basketPageUrl">@Html.TranslateFallback(StringResources.BasketFullBasketBtnText, StringConstants.TranslationFallback.BasketFullBasketBtnText)</a>
                    <a class="btn btn-primary" href="@checkoutPageUrl">@Html.TranslateFallback(StringResources.BasketCheckoutBtnText, StringConstants.TranslationFallback.BasketCheckoutBtnText)</a>
                </div>
            </div>
        </div>

        <div class="row" ng-if="getBasketQty() == 0" ng-cloak>
            <div class="col-md-9 col-md-offset-3">
                <div class="alert alert-warning">
                    @Html.TranslateFallback(StringResources.BasketEmpty, StringConstants.TranslationFallback.BasketEmpty)
                </div>
            </div>
        </div>
    </div>
</div>                                                                                                      