@using TRM.Web.Constants
@model TRM.Web.Models.Layouts.TrmLayoutModel

<div class="hidden mb-2x" id="forgottenUN-header">
    <h4 class="mt-0 mb-0">@Html.TranslateFallback(StringResources.ForgottenYourUserNameHeader, "Forgotten username or password?")</h4>
    <h6 class="mt-0">@Html.TranslateFallback(StringResources.ForgottenYourUserNameSubHeader, "Request a reset link")</h6>
    <form class="" name="forgtternUNform" ng-submit="requestUsername('#login-form-request-username-successed-form','#login-form-request-username-successed-login')">
        <div class="form-group mb-2x input-subtle">
            <input type="email" class="form-control" id="Username1" ng-required="true" validate-email ng-model="rqUsername" placeholder="@Html.TranslateFallback(StringResources.EmailAddressPlaceholder, "Email address")*">
        </div>
        <div class="form-group mb-2x">
            <div id="recaptchaForgotUserNameOrPasswordDiv"></div>
        </div>
        <div class="form-group mb-2x has-error" ng-if="resetPasswordError!=''">
            <span class="help-block">
                <span class="field-validation-error">{{resetPasswordError}}</span>
            </span>
        </div>
        <div class="row mb-2x">
            <div class="col-xs-12 col-md-8">
                <button class="btn btn-secondary btn-block" type="submit">@Html.TranslateFallback(StringResources.RequestUsername, "Request Reminder")</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <a href="#" data-hide="#forgottenUN-header" data-show="#loginForm-header" class="pw-link">@Html.TranslateFallback(StringResources.Cancel, "Return to login")</a>
            </div>
        </div>
    </form>
</div>