@using TRM.Web.Constants
@model TRM.Web.Models.Layouts.TrmLayoutModel


<div class="hidden mb-2x" id="forgottenPW-header">
    <h4 class="mt-0 mb-0">@Html.TranslateFallback(StringResources.ForgottenYourPassword, "Forgotten your password?")</h4>
    <h6 class="mt-0">@Html.TranslateFallback(StringResources.ForgottenYourPasswordSubHeader, "Complete the form below to requested a password reset by email")</h6>
    <form class="" name="forgtternPWform" ng-submit="resetPassword('#showResetConfirmation-header','#showLoginForm-header')">
        <div class="form-group mb-2x input-subtle">
            <label class="sr-only" for="Email1">@Html.TranslateFallback(StringResources.EmailAddress, "Email address")</label>
            <input type="email" class="form-control" id="Email1" ng-required="true" validate-email ng-model="resetEmail" placeholder="@Html.TranslateFallback(StringResources.EmailAddressPlaceholder, "Please enter email")">
        </div>
        <div class="form-group mb-2x">
            <div id="recaptchaForgotPasswordDiv"></div>
        </div>
        <div class="form-group mb-2x has-error" ng-if="resetPasswordError!=''">
            <span class="help-block">
                <span class="field-validation-error">{{resetPasswordError}}</span>
            </span>
        </div>
        <div class="row mb-1x">
            <div class="col-xs-12 col-md-8">
                <button class="btn btn-secondary btn-block" type="submit" disableonclick>@Html.TranslateFallback(StringResources.ResetPassword, "Reset Password") {{f.valid}}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <a href="#" data-hide="#forgottenPW-header" data-show="#forgottenUN-header" class="pw-link">@Html.TranslateFallback(StringResources.AlsoForgottenMyUsername, "I've forgotten my username")</a>
            </div>
            <div class="col-xs-12 col-md-12">
                <a href="#" data-hide="#forgottenPW-header" data-show="#loginForm-header" class="pw-link">@Html.TranslateFallback(StringResources.Cancel, "Return to login")</a>
            </div>
        </div>
    </form>
</div>