@using Hephaestus.CMS.Extensions
@using TRM.Web.Constants
@model TRM.Web.Models.Layouts.TrmLayoutModel

<div class="row hidden" id="passwordResetConfirmation-header">
    <a id="showResetConfirmation-header" class="hidden" data-show="#passwordResetConfirmation-header" data-hide="#login-form-main"></a>
    <a id="showLoginForm-header" class="hidden" data-show="#loginForm-header" data-hide="#forgottenPW-header"></a>
    <div class="mb-2x col-xs-12 col-md-11 col-lg-offset-1">
        <h4 class="mt-0 mb-0">@Html.TranslateFallback(StringResources.ForgottenPasswordConfirmationHeading, "Password reset sent")</h4>
        <h6>@Html.TranslateFallback(StringResources.ForgottenPasswordConfirmationSubHeading, "You will receive an email shortly with instructions on how to reset your password.")</h6>
        <div class="row mb-3x mt-2x">
            <div class="contentArea clear col-xs-12 col-md-11" @Html.EditAttributes(m => m.ForgottenPasswordConfirmationContentArea)>
                <div class="row">
                    @Html.DisplayFor(m => m.ForgottenPasswordConfirmationContentArea)
                </div>
            </div>
        </div>
        <div class="row col-xs-3 col-md-3">
            <a href="" data-hide="#passwordResetConfirmation-header" data-show="#login-form-main" class="gotoLoginBtn btn btn-secondary btn-block">@Html.TranslateFallback(StringResources.GoToLogin, "Go to login")</a>
        </div>
        <div class="row col-xs-12 col-md-12">
            <a href="/" class="pw-link nav-close" style="position: relative;">@Html.TranslateFallback(StringResources.ReturnToHomePage, "Return to our homepage")</a>
        </div>
    </div>
</div>