@using TRM.Web.Constants
@using TRM.Web.Models.Layouts

@model Hephaestus.CMS.ViewModels.IPageViewModel<TRM.Web.Models.Pages.EcomPrototypePage, Hephaestus.CMS.ViewModels.ILayoutModel>
@{
	var myLayout = Model.Layout as TrmLayoutModel;
	if (myLayout == null)
	{
		throw new InvalidCastException(StringConstants.Layout.InvalidLayout);
	}
}
<div class="pageContainer add-new-account">
	<div class="row">
		@Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.TopContent)
	</div>

	<div class="container">
		@Html.Partial("_Breadcrumb", myLayout.Breadcrumb)
	</div>

	@if (Model.CurrentPage.DisplayPageHeading)
	{
		<div class="page-header">
			@Html.PropertyFor(m => m.CurrentPage.Heading)
		</div>
	}
	@Html.PropertyFor(m => m.CurrentPage.MainBody)

	<div class="container mb-2x">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-md-4">
					<a class="btn btn-default btn-block sidenav-trigger mb-2x hidden-md hidden-lg mt-xs-2x" data-target="#catFilters">Account Menu</a>
				</div>
			</div>
		</div>
		<aside class="mobile-sidenav col-md-3" id="catFilters">
			<a class="btn btn-default pull-right visible-sm visible-xs closeButton"><i class="trmi trmi-close"></i></a>
			<div class="row">
				<div class="account navigationBlock col-xs-12" id="account-menu">
					<div class="blockContent">
						<ul class="level0 contentNav">
							<li class="">
								<a href="#" title="My Account">My Account</a>
							</li>
							<li class="has-children">
								<a class="btn-collapse" data-target="#page-menu-1" data-toggle="collapse" title="Show/Hide More">Your Orders</a>
								<ul class="level1 collapse in" id="page-menu-1">
									<li>
										<a href="/my-account/your-orders/how-to-return-an-item/" title="How to Return an item">How to Return an item</a>
									</li>
									<li>
										<a href="/my-account/your-orders/view-closed-orders/" title="View Closed Orders">View Closed Orders</a>
									</li>
									<li>
										<a href="/my-account/your-orders/view-open-orders/" title="View Open Orders">View Open Orders</a>
									</li>
								</ul>
							</li>
							<li class=" has-children">
								<a class="btn-collapse" data-target="#your-orders1" data-toggle="collapse" title="Show/Hide More">Investments</a>
								<ul class="level1 collapse in" id="your-orders1">
									<li>
										<a href="#" title="Manage Vaulted Holdings">Manage Vaulted Holdings</a>
									</li>
									<li>
										<a href="#" title="View Statement History">View Statement History</a>
									</li>
									<li>
										<a href="#" title="View Transaction History">View Transaction History</a>
									</li>
									<li>
										<a href="#" title="Manage Your Bank Account Details">Manage Your Bank Account Details</a>
									</li>
									<li>
										<a href="#" title="Withdraw Funds from Wallet">Withdraw Funds from Wallet</a>
									</li>
									<li>
										<a href="#" title="Add Funds To Wallet">Add Funds To Wallet</a>
									</li>
								</ul>
							</li>
							<li class="has-children">
								<a class="btn-collapse" data-target="#page-menu-2" data-toggle="collapse" title="Show/Hide More">Contact and Delivery</a>
								<ul class="level1 collapse in" id="page-menu-2">
									<li>
										<a href="#" title="Change Password">Change Password</a>
									</li>
									<li>
										<a href="#" title="Contact Preferences">Contact Preferences</a>
									</li>
									<li>
										<a href="#" title="Manage Addresses">Manage Addresses</a>
									</li>
									<li>
										<a href="#" title="Edit personal Details">Edit personal Details</a>
									</li>
								</ul>
							</li>
							<li class="has-children">
								<a class="" title="Show/Hide More">Wishlist</a>
								<ul class="level1 collapse in" id="page-menu-1"></ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</aside>
		<div class="col-xs-12 col-md-9 mb-xs-2x">
			<div class="header-wrapper">
				<div class="page-header">
					<h1>Your Linked Bank Accounts</h1>
				</div>
			</div>
			<div class="row">
				@Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.MiddleContent)
			</div>
			<div class="panel panel-default panel-secondary">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12 mb-2x mb-xs-0x">
							<h2 class="mt-0">Edit / Add Bank Account</h2>
							<p>This page allows you to add bank accounts so you can conveniently withdraw funds via wire transfers.</p>
						</div>
					</div>
					<form action="/" class="form-horizontal" method="post">
						<div class="col-md-12 col-lg-9">
							<div class="row">
								<div class="name mb-1x form-group">
									<label class="control-label col-xs-12 col-sm-4">Account Holder Name <span class="text-danger">*</span></label>
									<div class="col-xs-12 col-sm-8">
										<input class="form-control" name="name" type="text" value="Mr Steven Benson">
									</div>
								</div>
								<div class="country">
									<div class="form-group mb-1x">
										<label class="col-xs-12 col-sm-4 control-label">Country <span class="text-danger">*</span></label>
										<div class="col-xs-12 col-sm-8">
											<div class="select-form">
												<select class="form-control" id="countrySelect" name="CountryID">
													<option selected="selected" value="3">
														United Kingdom
													</option>
													<option value="4">
														Europe
													</option>
													<option value="6">
														Rest Of The World
													</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="sort-input bank-info mb-1x form-group">
									<label class="col-xs-12 col-sm-4 control-label">Sort Code <span class="text-danger">*</span></label>
									<div class="col-xs-12 col-sm-8">
										<div class="row">
											<div class="col-xs-4">
												<input class="form-control" name="name" type="number" value="01">
											</div>
											<div class="col-xs-4">
												<input class="form-control" name="name" type="number" value="22">
											</div>
											<div class="col-xs-4">
												<input class="form-control" name="name" type="number" value="33">
											</div>
										</div>
									</div>
								</div>
								<div class="iban-input bank-info mb-1x form-group">
									<label class="control-label col-xs-12 col-sm-4">IBAN Code <span class="text-danger">*</span></label>
									<div class="col-xs-12 col-sm-8">
										<input class="form-control" name="name" type="text" value="IBAN">
									</div>
								</div>
								<div class="swift-input bank-info mb-1x form-group">
									<label class="control-label col-xs-12 col-sm-4">SWIFT BIC <span class="text-danger">*</span></label>
									<div class="col-xs-12 col-sm-8">
										<input class="form-control" name="name" type="text" value="SWIFT">
									</div>
								</div>
								<div class="account-input mb-1x form-group">
									<label class="control-label col-xs-12 col-sm-4">Account Number <span class="text-danger">*</span></label>
									<div class="col-xs-12 col-sm-8">
										<input class="form-control" name="name" type="number" value="1122334455">
									</div>
								</div>
								<div class="nickname mb-1x form-group">
									<label class="control-label col-xs-12 col-sm-4">Account Nickname <span class="text-danger">*</span></label>
									<div class="col-xs-12 col-sm-8">
										<input class="form-control" name="name" type="text" value="Steven Benson">
									</div>
								</div>

							</div>
						</div>
					</form>

					<div class="col-lg-6 col-md-9 col-sm-9"></div>
					<div class="col-xs-12 col-md-3 col-sm-3 text-right">
						<div class="row">
							<button class="btn btn-secondary btn-block" href="/prototypes/bullion/bankaccount/BULL-270_AddNewAccount-ErrorMessage">Save</button>
						</div>
					</div>

					<div class="col-xs-12 col-sm-9 mt-1x">
						<div class="row">
							<div class="alert alert-danger text-center mb-0">
								Loqate says that isn't a valid bank account
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="row mt-1x">
						@Html.PropertyFor(m => m.CurrentPage.EcomPrototypeContentArea)
					</div>

				</div>
			</div>

		</div>
	</div>
	<div class="row">
		@Html.PropertyFor(m => m.CurrentPage.ThreeContentAreas.BottomContent)
	</div>
</div>
