@using EPiServer.Editor
@using TRM.Shared.Extensions
@using TRM.Web.Models.Layouts
@using TRM.Web.Services
@model Hephaestus.CMS.ViewModels.IPageViewModel<TRM.Web.Models.Pages.Bullion.BullionCustomerServicePage, Hephaestus.CMS.ViewModels.ILayoutModel, TRM.Web.Models.ViewModels.Bullion.BullionCustomerServiceViewModel>
@{
    var trmLayout = Model.Layout as TrmLayoutModel;
}

<div class="contentArea">
    <div class="row" @Html.EditAttributes(m => m.CurrentPage.ThreeContentAreas)>
        @Html.DisplayFor(m => m.CurrentPage.ThreeContentAreas.TopContent)
    </div>
</div>

@if (!trmLayout.HideSiteBreadcrumb)
{
    <div class="container">
        @Html.Partial("_Breadcrumb", trmLayout.Breadcrumb)
    </div>
}
<div class="container" ng-controller="rmCustomerService as vm" ng-init="vm.pageSize=@Model.CurrentPage.NumberOfItemsPerPage;">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h1>@Html.DisplayFor(a => a.CurrentPage.Heading)</h1>
            </div>
            <div class="col-xs-12 col-sm-6 mt-1x">
                <div class="text-right">
                    <a href="@Url.ContentUrlExtension(trmLayout.MyAccountPage)">@Model.CurrentPage.BackToAccountDashboardText</a>
                </div>
            </div>
        </div>
    </div>
    @if ((Model.CurrentPage.MainBody != null && !Model.CurrentPage.MainBody.IsEmpty) || PageEditing.PageIsInEditMode)
    {
        <div class="xhtmlArea clear" @Html.EditAttributes(m => m.CurrentPage.MainBody)>
            @{ var content = Html.ParseXhtmlString(Model.CurrentPage.MainBody); }
            @Html.DisplayFor(m => content)
        </div>
    }
    <!-- WYSIWYG End -->
    <div class="row">
        <div class="col-xs-12 col-md-9">
            <form ng-submit="vm.onSearchUsers()" method="get">
                <div class="input-group mb-1x">
                    <input type="text" class="form-control"
                           required
                           ng-model="vm.searchText"
                           placeholder="@Model.CurrentPage.SearchPlaceHolder" data-original-title="" title="">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default mb-1x" ng-disabled="vm.isLoading">
                            @Model.CurrentPage.SearchButtonText
                            <span class="btn-mask-loading" style="top:0px; left:0px; background-color:transparent;" ng-if="vm.isLoading"></span>
                        </button>
                    </span>

                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default panel-secondary" ng-if="vm.userList && vm.userList.length>0">
        <div class="panel-body item-row">
            <div class="panel panel-default panel-order">
                <div class="panel-body item-row hidden-xs">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3" ng-click="vm.onSorting('@SortBy.Username')">
                            <span class="bold">@Model.CurrentPage.UserNameColText </span>
                            <span class="trma trma-sort pull-right"></span>
                        </div>
                        <div class="col-xs-12 col-sm-3" ng-click="vm.onSorting('@SortBy.Email')">
                            <span class="bold">@Model.CurrentPage.EmailColText </span>
                            <span class="trma trma-sort pull-right"></span>
                        </div>
                        <div class="col-xs-12 col-sm-2" ng-click="vm.onSorting('@SortBy.AccountStatus')">
                            <span class="bold">@Model.CurrentPage.AccountStatusColText </span>
                            <span class="trma trma-sort pull-right"></span>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <span class="bold">@Model.CurrentPage.AccountTypeColText </span>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <span class="bold">@Model.CurrentPage.ActionColText </span>
                        </div>
                    </div>
                </div>
                <div class="panel-body item-row" ng-repeat="user in vm.userList track by $index">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <span class="visible-xs-inline strong">@Model.CurrentPage.UserNameColText: </span>
                            <span ng-if="user.userName !== user.email">{{user.userName}}</span>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <span class="visible-xs-inline strong">@Model.CurrentPage.EmailColText: </span>{{user.email}}
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <span class="visible-xs-inline strong">@Model.CurrentPage.AccountStatusColText: </span>
                            <span ng-class="{'text-red': user.accountStatus=='Locked'}">{{user.accountStatus}}</span>
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <span class="visible-xs-inline strong">@Model.CurrentPage.AccountTypeColText: </span>{{user.accountType}}
                        </div>
                        <div class="col-xs-12 col-sm-2">
                            <span class="visible-xs-inline strong" ng-if="!user.isGuest">@Model.CurrentPage.ActionColText: </span>
                            <a href="javascript:void(0)" ng-if="!user.isGuest" ng-click="vm.onImpersonate(user.userName)">@Model.CurrentPage.ImpseronateUserLinkText </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-5 mb-xs-1x"></div>
        <div class="col-xs-12 col-sm-7 text-right-sm-up">
            <pagination ng-if="vm.totalItems && vm.totalItems > 0" options="vm.pagingOptions" current-page="vm.currentPage" total-items="vm.totalItems"></pagination>
        </div>
    </div>
    <div class="row" ng-if="vm.noResults">
        <div class="col-xs-12 col-md-9">
            <div class="alert alert-info text-center">
                @Html.DisplayFor(x => x.CurrentPage.NoResultText)
            </div>
        </div>
    </div>
    <div class="contentArea">
        <div class="row" @Html.EditAttributes(m => m.CurrentPage.ThreeContentAreas)>
            @Html.DisplayFor(m => m.CurrentPage.ThreeContentAreas.MiddleContent)
        </div>
    </div>
</div>

<div class="contentArea">
    <div class="row" @Html.EditAttributes(m => m.CurrentPage.ThreeContentAreas)>
        @Html.DisplayFor(m => m.CurrentPage.ThreeContentAreas.BottomContent)
    </div>
</div>